@page
@model WebApp.Pages.Orders.CreateModel
@using WebApp.Entities;
@{
    ViewData["Title"] = "New order";
}
<script>document.addEventListener('alpine:init', () => {
        Alpine.data('flights', () => ({
            from: '',
            to: '',
            dateTime: '',
            flights: [],
            isLoading: true,
            getFlights() {
                fetch('/api/flights?' + new URLSearchParams({ from: this.from, to: this.to, dateTime: this.dateTime }).toString())
                    .then(response =>
                        response.json())
                    .then(response => { this.flights = response; this.isLoading = false; });
            }
        }))
    })</script>
<h1>@ViewData["Title"]</h1>
@if (!Html.ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Html.ValidationSummary()
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form asp-page="Orders/Index">
    <div class="accordion mb-3" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    #1 Basic information
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="form-floating mb-3">
                        <input asp-for="Order.FirstName" type="text" class="form-control" id="firstName" placeholder="First name" />
                        <label for="firstName">First name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Order.LastName" type="text" class="form-control" id="lastName" placeholder="Last name" />
                        <label for="lastName">Last name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Order.Email"  type="text" class="form-control" id="email" placeholder="name@example.com" />
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Order.BirthDate" type="date" class="form-control" id="birthDate" placeholder="2000-01-01" />
                        <label for="birthDate">Birth date</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    #2 Flight selection
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div x-cloak x-data="flights">
                        <div class="form-floating mb-3">
                            <select asp-items="Html.GetEnumSelectList<Destination>()" class="form-select" id="from" x-on:change="getFlights" x-model="from"></select>
                            <label for="from">From</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select asp-items="Html.GetEnumSelectList<Destination>()" class="form-select" id="to" x-on:change="getFlights" x-model="to"></select>
                            <label for="to">To</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="flightDate" min="2023-01-01" max="2023-01-31" x-on:change="getFlights" x-model="dateTime" />
                            <label for="flightDate">Flight date</label>
                        </div>
                        <div class="table-responsive-lg">
                            <table class="table text-nowrap table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">From</th>
                                        <th scope="col">To</th>
                                        <th scope="col">DateTime</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template x-for="flight in flights" :key="flight.id">
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="Order.FlightId" x-bind:value="flight.id" />
                                                </div>
                                            </td>
                                            <td x-text="flight.from"></td>
                                            <td x-text="flight.to"></td>
                                            <td x-text="flight.dateTime"></td>
                                            <td x-text="flight.price"></td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    #3 Discount and payment
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="form-floating mb-3">
                        <input asp-for="Order.Coupon" type="text" class="form-control" id="coupon" placeholder="Coupon" />
                        <label for="coupon">Coupon</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="Order.Discount" asp-items="Html.GetEnumSelectList<Discount>()" class="form-select" id="discount"></select>
                        <label for="discount">Discount</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <input class="btn btn-primary ms-auto" type="submit" value="Submit" />
    </div>
</form>

